.label {
  font-family: "HK Grotesk", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.h4 {
  /* H4 */
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;

  /* identical to box height, or 20px */
  letter-spacing: -0.02em;
}

html {
  /* background-color: red; */
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
  width: 100%;
  /* margin-left: 25%; */
}
* {
  scroll-behavior: smooth;
}
